<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <style type="text/css">
      table {
        border: 1px solid #b5e853;
        border-spacing: 0px;
      }
      td, th {
        border: 1px solid #b5e853;
      }
    </style>

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <section id="downloads">
          <a href="/">Main</a> | <a href="/info.html">Info</a> | <a href="/kontakt.html">Kontakt</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

  </body>
</html>
